streamlit

langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface

chromadb

sentence-transformers
transformers
torch
torchvision

GitPython
pypdf

python-dotenv

beautifulsoup4
requests
lxml

tiktoken

huggingface_hub

numpy
pandas